<strong>{{ prod.name }}</strong>
<br>
<i>{{ prod.description|raw }}</i>
<br>
<img src="{{ asset('uploads/brochures/'~ product.image) }}"/>
<strong><i>{{ prod.quantity }}</i></strong>
<br>
<a href="{{ path('app_product_update_quantity',{ 'id' : prod.id, 'update' : 'plus' }) }}" class="btn">Quantité +1</a>
<a href="{{ path('app_product_update_quantity',{ 'id' : prod.id, 'update' : 'moins' }) }}" class="btn">Quantité -1</a>
<br>
<br>
